/*-----------------------------
    Application base Styling
------------------------------*/
.root{
    -fx-padding: 0px;
    -fx-background-color: navy;
}
/*------------------------
    Title Label Styling
-------------------------*/
.app-title{
    -fx-font-family: pixelta;
    -fx-font-size: 70px;
    -fx-text-fill: steelblue;
}
/*------------------------------
    Big Menu Button Styling
------------------------------*/
.big-button{
    -fx-background-color: lavender;
    -fx-background-radius: 15;
    -fx-border-color: slateblue;
    -fx-border-width: 10;
    -fx-border-radius: 10;
    -fx-border-insets: 5;

    -fx-text-fill: black;
    -fx-font-family: arcadeclassic;
    -fx-font-size: 30px;

}
/*-------------------------
    ScrollPane Styling
--------------------------*/
.scroll-pane{
   -fx-background-color: transparent;
       -fx-background: transparent;
       -fx-border-color: transparent;
       -fx-padding: 0;
}
.scroll-pane .scroll-bar:vertical {
    -fx-opacity: 0;
}
.scroll-pane .scroll-bar:horizontal {
    -fx-opacity: 0;
}

/*-----------------------
    Game Box Styling
-------------------------*/
.game-button{
    -fx-background-color: midnightblue;
    -fx-border-color: lavender;
    -fx-border-width: 8px;
    -fx-border-radius: 10px;
    -fx-padding: 0px;
}

.button-content{ /* VBox contains everything inside of the game Button*/
    -fx-background-color: transparent;
    -fx-background-radius: 10px;
}
/*
    Box containers for nodes
*/
.title-box{
    -fx-background-color: black;
    -fx-background-radius: 10px;
}
.author-box{
    -fx-background-color: violet;
    -fx-border-radius: 3px;
}
.release-box{

}
/*--------------------
    Label Styling
----------------------*/
.title-label{
    -fx-font-family: ARCADECLASSIC;
    -fx-font-color: snow;
    -fx-font-size: 25px;
    -fx-text-fill: snow;
}

.author-label{
    -fx-font-family: pixelta;
    -fx-text-fill: black;
    -fx-font-size: 25px;
}
.release-label{
    -fx-font-family: arcadeclassic;
    -fx-text-fill: snow;
    -fx-font-size: 18px;
}
/*------------------
    Belt Styling
-------------------*/
.gbs-belt{
    -fx-background-color: plum;
}
.white-belt{
    -fx-background-color: white;
}
.yellow-belt{
    -fx-background-color: yellow;
}
.orange-belt{
    -fx-background-color: orange;
}
.green-belt{
    -fx-background-color: green;
}
.blue-belt{
    -fx-background-color: blue;
}
.purple-belt{
    -fx-background-color: purple;

}
.brown-belt{
    -fx-background-color: brown;
}
.red-belt{
    -fx-background-color: red;
}
.black-belt{
    -fx-background-color: black;
}

.select{

}
.unselected{

}