/*-----------------------------
    Application base Styling
------------------------------*/
.my-node {
    -fx-background-image: url("/Users/aleksantiago/Desktop/codeNinjas/CodeNinjasOV_arcade/src/imgAssets/blueChecker.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center;
}
.root{
    -fx-padding: 0px;
    -fx-background-color: lightskyblue;
}
.main-box{
    -fx-background-color: navy;
}
.top-box{
    -fx-background-color: lightskyblue;
    -fx-padding: 0 0 10 30;
    -fx-background-radius: 30;
    -fx-border-width: 10;
    -fx-border-color: black;
    -fx-border-radius: 20;
}
/*------------------------
    Title Label Styling
-------------------------*/
.app-title{
    -fx-font-family: tradegothic;
    -fx-font-weight: bold;
    -fx-font-size: 60px;
    -fx-text-fill: white;
}

/*------------------------------
    Big Menu Button Styling
------------------------------*/
.big-button{
    -fx-background-color: #fff3c2;
    -fx-background-radius: 100;
    -fx-border-color: black;
    -fx-border-width: 7;
    -fx-background-insets: 5;
    -fx-border-radius: 70;

    -fx-text-fill: black;
    -fx-font-family: mumbossk;

    -fx-font-size: 25px;

}
/*-------------------------
    ScrollPane Styling
--------------------------*/
.scroll-pane{
   -fx-background-color: transparent;
       -fx-background: transparent;
       -fx-border-color: transparent;
}
.scroll-pane .scroll-bar:vertical {
    -fx-opacity: 0;
}
.scroll-pane .scroll-bar:horizontal {
    -fx-opacity: 0;
}

/*-----------------------
    Game Box Styling
-------------------------*/
.content-box{
    -fx-border-color: black;
    -fx-border-width: 10px;
    -fx-border-radius: 40px;
    -fx-background-radius: 50px;
}
.labels{
    -fx-text-fill: black;
    -fx-font-family: mumbossk;
}
.white-belt{
    -fx-background-color: #ffffff;
    -fx-text-fill: #ffffff;
}
.yellow-belt{
    -fx-background-color: #fff3c2;
    -fx-text-fill: #ffef82;
}
.orange-belt{
    -fx-background-color: #ff914d;
    -fx-text-fill: #ff914d;
}
.green-belt{
    -fx-background-color: #00bf63;
    -fx-text-fill: #00bf63;
}
.blue-belt{
    -fx-background-color: #70cbff;
    -fx-text-fill: lightskyblue;
}
.purple-belt{
    -fx-background-color: purple;
    -fx-text-fill: purple;
}
.brown-belt{
    -fx-background-color: #cc7a00;
    -fx-text-fill: #cc7a00;
}
.red-belt{
    -fx-background-color: #ff9999;
    -fx-text-fill: orangered;
}
.black-belt{
    -fx-background-color: #545454;
    -fx-text-fill: white;
}
.label-black{
    -fx-text-fill: #ffffff;
}
.author{
    -fx-font-family: tradegothic;
    -fx-font-size: 15px;
}
.name{
    -fx-font-family: tradegothic;
    -fx-font-weight: bold;
    -fx-font-size: 23px;
    -fx-wrap-text: true;
}
.release{
    -fx-text-size: 12px;
}
.rectangle{
    -fx-fill: black;
}
.highlighted{
    -fx-border-color: #ffdE59; /* Yellow color */
    -fx-background-color: red;

}
.white-highlight{
}
















